@model IEnumerable<AutoPartsMVC.Models.Product>

@{
    ViewBag.Title = "Продукти";
}
<div class="middle">
<h2>Продукти</h2>

<p>
    @Html.ActionLink("Създай Нов", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Цена
        </th>
        <th>
            Име
        </th>
        <th>
            Закупено
        </th>
        <th>
            Категория
        </th>
        <th>
            Снимка
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Price) лв.
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimesBought) пъти
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductImageName)
        </td>
        <td>
            @Html.ActionLink("Промени", "Edit", new { id = item.Id }) @Html.ActionLink("Снимки", "Pictures", new { id = item.Id }) @Html.ActionLink("Премахни", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
</div>